EC_HOMESERVER_URL=https://matrix.example.com
EC_SERVER_NAME=matrix.example.com
EC_FEATURE_USE_DEVICE_SESSION_MEMBER_EVENTS=true
EC_SSLA=https://static.element.io/legal/element-software-and-services-license-agreement-uk-1.pdf
EC_WAIT_FOR_KEY_ROTATION_MS=3000
EC_MEMBERSHIP_EVENT_EXPIRY_MS=180000000
EC_DELAYED_LEAVE_EVENT_DELAY_MS=18000
EC_DELAYED_LEAVE_EVENT_RESTART_MS=4000
EC_NETWORK_ERROR_RETRY_MS=100
